#square {
    background-color: greenyellow;
    border: 2px solid black;
    margin: 15px;
    padding: 25px 0;
    max-width: 50px;
}

.buttons {
    background-color: gray;
    border: 2px solid black;
    margin: 15px;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: inline-block;
}


